@import 'nib'
vendor-prefixes = o mz ms official webkit

/************************************************************************************************
* Variables
************************************************************************************************/
main-blue = #0062A0
main-blue-weak = #60afeb
main-blue-strong = #0e4671

/************************************************************************************************
* helpers
************************************************************************************************/

.text-center
    text-align center

.no-margin-b
    margin-bottom 0px

.no-margin-t
    margin-top 0px

.no-margin
    margin 0px

.no-padding
    padding 0px

.padding-fixed
    padding 5px 24px !important

.margin-50
    margin 50px 0px

.hidden
    display none
/************************************************************************************************
* Styles
************************************************************************************************/
.modal 
    .modal-content 
        padding 65px 24px


#navbar
    .brand-logo
        img
            width 100px

.timeline
    width 100vw
    margin-top 3px
    .row
        margin-bottom 0px

.car
    .card-content:first-child
        padding 5px 24px
    .btn-floating
        width 25px
        height 25px
        line-height 25px
        top 0
        left 0
        i
            line-height 25px
            font-size 1em
    .price
        font-size .9em
    
    .collection-item
        position relative

#message
    i
        font-size 3em