body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.d-flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.justify-content-center{
    justify-content: center;
}